* {
    box-sizing: border-box;
    margin: 0;
    padding: 20;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* overflow: hidden; */
}

#background {
    position: absolute;
    z-index: 0;
}

.evariste {
    position: relative;
    z-index: 1;
    color: rgb(192, 197, 134);
    text-align: center;
    margin-top: 20px;  
}

.evariste:hover {
    color: rgb(57, 113, 113);
    cursor: default;
    user-select: none;
}

.introduction {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.test {
    position: relative;
    z-index: 1;
    color: antiquewhite;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.table td {
    padding: 20px;

}

.links {
    color: palevioletred;
    text-decoration: none;
    opacity: 100%;
}

.links:hover {
    text-decoration: underline;
}

.buttons {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: bisque;
    opacity: 90%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
}

.zpc_list_qp {
    list-style: none;
    padding: 20px;
    position: relative;
    margin: 20px;
}